body {
	background-color: #232323;
}

.square {
	width: 30%;
	background-color: purple;
	margin: 1.66%;
	padding-bottom: 30%;
	float: left;
}

#message {
	color: white;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	color: white;
}