<% include partials/header %>

<h1>This is the home page!</h1>

<img src="http://cdn3-www.dogtime.com/assets/uploads/gallery/pembroke-welsh-corgi-dog-breed-pictures/prance-8.jpg" alt="">

<% include partials/footer %>