<% include partials/header %>

<h1>You fell in love with: <%= thingVar.toUpperCase() %></h1>

<% if(thingVar.toLowerCase() === "corgi"){ %>
    <p>Good Choice, corgis are the best</p>
<% } else { %>
    <p>Bad choice</p>
<% } %>

<p>This is the love.ejs file</p>


<% include partials/footer %>
